﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>BRanch Workflow</h1>

<h2>Author : Pushkar Jethwa</h2>

<input type="text" placeholder="Enter Username" required/>
<input type="password" placeholder="Enter Password" required/>
<button>Login</button>
